<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" rel="stylesheet">
</head>
<body>
    {% include 'navbar2.html' %}
    <div class="container">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                <span class="glyphicon glyphicon-ok"></span><strong>  {{ message }}</strong>
            </div>
            {% elif message.tags == "warning" %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                <span class="glyphicon glyphicon-record"></span> <strong>{{ message }}</strong>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                <span class="glyphicon glyphicon-hand-right"></span> <strong>{{ message }}</strong>
            </div>
            {% elif message.tags == "info" %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                <span class="glyphicon glyphicon-info-sign"></span> <strong>{{ message }}</strong>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

        <h1>{% block title %}{% endblock %}</h1>

        {% block content %}{% endblock %}
    </div>
    {% block script %}{% endblock %}
    <!-- Bootstrap JavaScript if it is in body -->
    <script crossorigin="anonymous" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
