{% load i18n %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Wifi-seka</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    {% url 'home' as home %}
    {% url 'settings' as settings %}
      <li class="nav-item {% if request.path == home %} active {% endif %}">
        <a class="nav-link" href="{% url 'home' %}">{% trans 'Home' %} <span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_superuser %}
      <li class="nav-item {% if request.path == settings %} active {% endif %}">
        <a class="nav-link" href="{% url 'settings' %}">{% trans 'Settings' %}</a>
      </li>
      {% endif %}

    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if not request.user.is_authenticated %}
        <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> {% trans 'Sign Up' %}</a></li>-->
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> {% trans 'Login' %}</a></li>
    {% else %}
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> {% trans 'Logout' %}</a></li>
    {% endif %}


    </ul>
  </div>
</nav>