{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ wseka_config.name }}{% endblock %}


{% block content %}
<p><strong>SSID:</strong> {{ wseka_config.ssid }}</p>

<p><strong>{% trans 'Wifi interface' %}:</strong> {{ wseka_config.wifi_interface }}</p>
<p><strong>{% trans 'Internet interface' %}:</strong> {{ wseka_config.internet_interface }}</p>
<p><strong>NAT:</strong> {{ wseka_config.nat }}</p>
<p><strong>Mana:</strong> {{ wseka_config.mana }}</p>
<p><strong>{% trans 'Inject Javascript in HTTP' %}:</strong> {{ wseka_config.inject_javascript_on_http }}</p>
<p><strong>{% trans 'Inject Javascript in HTTPS' %}:</strong> {{ wseka_config.inject_javascript_on_https }}</p>
{% if wseka_config.inject_javascript_on_http or wseka_config.inject_javascript_on_https %}<p><strong>{% trans 'Home' %}:</strong> {{ wseka_config.code_to_inject }}</p>{% endif %}
<p><strong>{% trans 'Bettercap username' %}:</strong> {{ wseka_config.bettercap_user }}</p>
<p><strong>{% trans 'Bettercap password' %}:</strong> {{ wseka_config.bettercap_password }}</p>
<p><strong>{% trans 'Bettercap ip' %}:</strong> {{ wseka_config.bettercap_host }}</p>
<p><strong>{% trans 'Bettercap port' %}:</strong> {{ wseka_config.bettercap_port }}</p>

<a class="btn btn-primary" href="{% url 'update_configuration' wseka_config.pk%}" role="button">{% trans "Edit" %}</a>
<a class="btn btn-primary" href="{% url 'delete_configuration' wseka_config.pk%}" role="button">{% trans "Delete" %}</a>
<a class="btn btn-primary" href="{% url 'deploy_configuration' wseka_config.pk%}" role="button">{% trans "Deploy" %}</a>
{% endblock %}