{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "New configuration" %}{% endblock %}


{% block content %}
<form action="#" method="post" class="form">
    {% csrf_token %}
    {% for non_field_error in form.non_field_errors %}
        <p class="help is-danger">{{ non_field_error }}</p>
    {% endfor %}
    {% for form_field in form %}
    <div class="form-group">
        {{ form_field.label }}
        {{form_field}}
        {% for error in form_field.errors %}
            <p class="help is-danger">{{ error }}</p>
        {% endfor %}
</div>
    {% endfor %}
    <div class="form-group"><button type="submit" class="btn btn-primary">
      {% trans "Submit" %}
    </button>
    </div>
</form>
{% endblock %}