{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Settings" %}{% endblock %}

{% block content %}
{% if wseka_config_list %}
<ul class="list-group">
{% for config in wseka_config_list %}
    <li class="list-group-item {% if config.inuse %} active {% endif %}"><a href="{% url 'detail_configuration'  config.pk %}" {% if config.inuse %} style="color:#FFFF00;" {% endif %}>{{ config.name }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>{% trans "No configurations are available, create new one." %}</p>
{% endif %}
<a class="btn btn-primary" href="{% url 'add_configuration' %}" role="button">{% trans "New Configuration" %}</a> <a class="btn btn-primary" href="{% url 'stop_configuration' %}" role="button">{% trans "Stop current attack" %}</a>
{% endblock %}