{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {{ request.user }}
{% endblock %}
{% block content %}
    <p>{% trans 'Hello' %} {{ request.user }}</p>
    <h3>{% trans 'Change language' %}:</h3>
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans 'Submit' %}" />
    </form>
{% endblock %}