{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Login' %}
{% endblock %}

{% block content %}
<form action="{% url 'login' %}" method="post" class="form">
    {% csrf_token %}
    {% for non_field_error in form.non_field_errors %}
        <p class="help is-danger">{{ non_field_error }}</p>
    {% endfor %}
    {% for form_field in form %}
    <div class="form-group">
        {{form_field}}
        {% for error in form_field.errors %}
            <p class="help is-danger">{{ error }}</p>
        {% endfor %}
</div>
    {% endfor %}
    <div class="form-group"><button type="submit" class="btn btn-primary">
      {% trans 'Login' %}
    </button>
    </div>
</form>

{% endblock %}