{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Home' %}{% endblock %}


{% block content %}
    <div id="https_table"></div>
    <div id="http_table"></div>
    <div id="dns_table"></div>
{% endblock %}
{% block script %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
function httpGet(url,params){
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", url+"?"+params, false );
    xmlHttp.send(null);
    return xmlHttp.responseText;
}

function genTable(api_data,div_name,title){
    var trace1 = {type: 'bar', x: [], y: [],marker: {color: '#7b6b7b',line: {width: 2.5}}};
    var i; for (i = 0; i < api_data.length; i++) {
        console.log(api_data[i]);
        trace1["x"].push(api_data[i]["domain_name"])
        trace1["y"].push(api_data[i]["requested_times"])
    }
    var data = [ trace1 ];
    var layout = {title: title, font: {size: 10},};
    Plotly.newPlot(div_name, data, layout, {responsive: true});
}
var https_api_data = JSON.parse(httpGet("{% url 'export_data' %}","protocol=https"));
genTable(https_api_data, "https_table", "{% trans "Https requests" %}");
var https_api_data = JSON.parse(httpGet("{% url 'export_data' %}","protocol=http"));
genTable(https_api_data, "http_table", "{% trans "Http requests" %}");
var https_api_data = JSON.parse(httpGet("{% url 'export_data' %}","protocol=dns"));
genTable(https_api_data, "dns_table", "{% trans "DNS requests" %}");
</script>
{% endblock %}